header{
   display: flex; 
   justify-content: space-between; 
   background-color: rgb(188, 193, 235);   
}

.lateral_img{
   display: flex; 
   flex-direction: column; 
   padding-left: 10px; 
   padding-top: 7px;  
}

.forte-title{
   display: flex; 
   justify-content: center;  
}

.right_nav{
   padding-right: 10px; 
   padding-top: 3px;   
}

.right_nav-img{
   height: 75px; 
   width: 75px; 
   border: solid 2px; 
   border-color: white; 
   border-radius: 50%;  
}

#forte{
   display: flex;
}

.forte-img{
   padding: 10px; 
   padding-bottom: 0%;
}

.forte-descricao{
   width: 30%; 
   margin: 10%; 
   margin-bottom: 0px; 
   text-align: justify;   
}

.forte-desc-rodape{
   margin: 10px; 
   margin-top: 0px; 
   font-size: 14px;
}

/* Footer */

footer{
   height: 75px; 
   background-color: rgb(188, 193, 235);
   margin-top: 13%;  
}

.midia__social{
   height: 100%; 
   width: 100%; 
   display: flex;
   justify-content: center;
   align-items: center;   
}

.lateral-img{
   height: 28px; 
   width: 28px;   
}

.center-img{
   height: 28px; 
   width: 28px; 
   padding-left: 5px; 
   padding-right: 5px;   
}
