header {
   background-color: rgb(188, 193, 235); 
   height: 150px;
   display: flex;
   align-items: center;
}

.header-img-left{
   height: 100px; 
   width: 100px;   
}

.visite-recife{
   display: flex;
   justify-content: center;
   width: 85%;  
}

.main-div-top{
   width: 100%; 
   display: flex; 
   justify-content: center;  
}

.main-div{
   display: flex; 
   justify-content: space-between;  
}

#marco-zero{
   display: flex;
}

.marco__zero{
   width: 400px;   
}

.marco__zero-title{
   display: flex; 
   justify-content: center;   
}

.marco__zero-main-img{
   padding-left: 4px;   
}

.marco__zero-main-img img{
   width: 390px;
}

.marco__zero-descricao{
   display: flex; 
   text-align: justify; 
   padding-left: 4px;
}

/*Instituto Brennant*/

#instituto-brennant{
   display: flex;
}

.instituto__brennant{
   width: 400px;   
}

.instituto__brennant-title{
   display: flex; 
   justify-content: center;   
}

.instituto__brennant-img{
   width: 390px;
}

.instituto__brennant-descricao{
   display: flex; 
   text-align: justify; 
   padding-left: 4px;
}

/*Forte das cinco pontas*/

#Forte{
   display: flex;
}

.Forte{
   width: 400px;   
}

.Forte-title{
   display: flex; 
   justify-content: center;   
}

.Forte-img{
   width: 390px;
}

.Forte-descricao{
   display: flex; 
   text-align: justify; 
   padding-left: 4px;
}

/* Footer */

footer{
   display: flex; 
   height: 100px;
   background-color: rgb(188, 193, 235);   
}

.midia-social{
   width: 100%;
   display: flex; 
   justify-content: center; 
   align-items: center;
   padding-left: 7%;   
}

.lateral-img{
   height: 28px; 
   width: 28px;   
}

.center-img{
   height: 28px; 
   width: 28px; 
   padding-left: 5px; 
   padding-right: 5px;   
}

.footer_right-img{
   width: 7%; 
   text-align: right;
}

.footer_right-img img{
   height: 100px; 
   width: 100px;   
}
